<% html = Nokogiri::HTML.fragment(render(:parent, local_assigns)) 
   attributes_to_check_permissions.each do |attribute_name|
      permission_name = "edit_"+attribute_name.gsub(/_id/, '')
      if (!is_action_available_for_project(@project, permission_name.to_sym)
        html.search(".//label[contains(@for,'#{attribute_name}')]").each do |element|
          element.parent.remove if element
        end
      end
   end
%>

<%=raw html %>